127.0.0.1	localhost
127.0.1.1	raspberrypi

::1		localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters

# Pike
{% for host in groups['hadoop'] %}
{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}	{{ host }}	{{ hostvars[host]['ansible_nodename'] }}
{% endfor %}
